.sobre-festival {
    padding: $separacion 0;

    @include tablet {
        @include grid(2, $separacion);
    }
}

.contenido-festival {
    display: flex; // Estas tres lineas estan centrando verticalmente los elementos de texto
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 3rem;
        color: $negro;
    }

    .fecha {
        color: $rosa;
        font-weight: $bold;
    }

    .texto {
        line-height: 1.5; // Genera el interalineado de los parrafos
    }
}